root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[.editorconfig]
indent_size = 4
indent_style = tab
tab_width = 4

[src/**.{c,h,cpp,hpp}]
indent_style = tab
indent_size = 4
tab_width = 4

[{CMakeLists.txt,*.cmake}]
indent_size = 4
indent_style = tab
tab_width = 4

[{Makefile,*.mk}]
indent_size = 8
indent_style = tab
tab_width = 8

[*{.yml,.yaml}]
indent_size = 2
indent_style = space
tab_width = 8

[*.sh]
indent_size = 4
indent_style = tab
tab_width = 4
end_of_line = lf

[*.bat]
indent_size = 4
indent_style = tab
tab_width = 4
end_of_line = crlf
